<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.legenda">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Legend">
        <activity android:name=".TheEnd" android:screenOrientation="portrait"/>

        <service
            android:name=".MusicService"
            android:enabled="true" />

        <activity android:name=".ComingSoon" android:screenOrientation="portrait" />
        <activity android:name=".GameScreenYudisOver4" android:screenOrientation="portrait" />
        <activity android:name=".GameScreenYudisOver3" android:screenOrientation="portrait" />
        <activity android:name=".GameScreenYudisOver2" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenYudisOver1" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenYudis13" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenYudis12" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenYudis11B" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenYudis11A" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenYudis10" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenYudis9B" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenYudis9A" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenYudis8" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenYudis7" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenYudis6" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenYudis5" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenYudis4B" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenYudis4A" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenYudis3" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenYudis2" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenYudis1" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenDuryuOver" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenDuryu13" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenDuryu12B" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenDuryu12A" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenDuryu11" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenDuryu10B" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenDuryu10A" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenDuryu9B" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenDuryu9A" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenDuryu8B" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenDuryu8A" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenDuryu7" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenDuryu6" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenDuryu5B" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenDuryu5A" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenDuryu4" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenDuryu3" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenDuryu2" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenDuryu1" android:screenOrientation="portrait"/>
        <activity android:name=".GameScreenBegin" android:screenOrientation="portrait"/>
        <activity android:name=".CreditsScreen" android:screenOrientation="portrait"/>
        <activity android:name=".SettingsScreen" android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu" android:screenOrientation="portrait"/>
    </application>

</manifest>