<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.legenda">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Legend">
        <activity android:name=".TheEnd"></activity>

        <service
            android:name=".MusicService"
            android:enabled="true" />

        <activity android:name=".ComingSoon" />
        <activity android:name=".GameScreenYudisOver4" />
        <activity android:name=".GameScreenYudisOver3" />
        <activity android:name=".GameScreenYudisOver2" />
        <activity android:name=".GameScreenYudisOver1" />
        <activity android:name=".GameScreenYudis13" />
        <activity android:name=".GameScreenYudis12" />
        <activity android:name=".GameScreenYudis11B" />
        <activity android:name=".GameScreenYudis11A" />
        <activity android:name=".GameScreenYudis10" />
        <activity android:name=".GameScreenYudis9B" />
        <activity android:name=".GameScreenYudis9A" />
        <activity android:name=".GameScreenYudis8" />
        <activity android:name=".GameScreenYudis7" />
        <activity android:name=".GameScreenYudis6" />
        <activity android:name=".GameScreenYudis5" />
        <activity android:name=".GameScreenYudis4B" />
        <activity android:name=".GameScreenYudis4A" />
        <activity android:name=".GameScreenYudis3" />
        <activity android:name=".GameScreenYudis2" />
        <activity android:name=".GameScreenYudis1" />
        <activity android:name=".GameScreenDuryuOver" />
        <activity android:name=".GameScreenDuryu13" />
        <activity android:name=".GameScreenDuryu12B" />
        <activity android:name=".GameScreenDuryu12A" />
        <activity android:name=".GameScreenDuryu11" />
        <activity android:name=".GameScreenDuryu10B" />
        <activity android:name=".GameScreenDuryu10A" />
        <activity android:name=".GameScreenDuryu9B" />
        <activity android:name=".GameScreenDuryu9A" />
        <activity android:name=".GameScreenDuryu8B" />
        <activity android:name=".GameScreenDuryu8A" />
        <activity android:name=".GameScreenDuryu7" />
        <activity android:name=".GameScreenDuryu6" />
        <activity android:name=".GameScreenDuryu5B" />
        <activity android:name=".GameScreenDuryu5A" />
        <activity android:name=".GameScreenDuryu4" />
        <activity android:name=".GameScreenDuryu3" />
        <activity android:name=".GameScreenDuryu2" />
        <activity android:name=".GameScreenDuryu1" />
        <activity android:name=".GameScreenBegin" />
        <activity android:name=".CreditsScreen" />
        <activity android:name=".SettingsScreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu" />
    </application>

</manifest>